<% image_1 = "https://source.unsplash.com/random/600x400/?water" %>
<% image_2 = "https://source.unsplash.com/random/600x400/?nature" %>
<% image_3 = "https://source.unsplash.com/random/600x400/?fruit" %>
<% image_4 = "https://source.unsplash.com/random/600x400/?model" %>
<% image_5 = "https://source.unsplash.com/random/600x400/?boats" %>
<% image_6 = "https://source.unsplash.com/random/600x400/?city" %>
<% image_7 = "https://source.unsplash.com/random/600x400/?london" %>
<% image_8 = "https://source.unsplash.com/random/600x400/?people" %>
<% image_9 = "https://source.unsplash.com/random/600x400/?japan" %>
<% image_10 = "https://source.unsplash.com/random/600x400/?car" %>
<% images = [image_1, image_2, image_3, image_5, image_6, image_7, image_8, image_9, image_10] %>
<% 10.times do %>
<% user = @users.sample %>
<% emoji = ['ðŸ™Œ', 'ðŸ‘‹', 'â­ï¸', 'ðŸ˜‚', 'ðŸ‘'] %>
  <div class="d-flex flex-column bg-white my-5">
    <div class="d-flex w-100">
      <div class="row align-items-center flex-fill p-2">
        <div class="col-1 text-center">
          <%= cl_image_tag user.avatar.key, width: 40, height: 40, crop: :thumb, gravity: :face, class:"avatar" %>
        </div>
        <div class="col-9 text-left">
          <div class="">
            <p class="mb-0" style="font-size:14px;"><%= user.username %></p>
            <p class="text-muted mb-0" style="font-size:14px;"><%= user.firstname %>  <%= user.lastname %></p>
          </div>
        </div>
        <div class="col-2 text-center">
          <i class="fas fa-ellipsis-h"></i>
        </div>
      </div>
    </div>
    <div>
      <img src="<%= images.sample %>" class="w-100" alt="">
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex flex-row justify-content-between align-items-center p-2">
        <div class="d-flex">
          <span>
            <i style="font-size: 24px;" class="far fa-paper-plane text-muted px-2"></i>
            <i style="font-size: 24px;" class="far fa-comment text-muted px-2"></i>
            <i style="font-size: 24px;" class="far fa-heart text-muted px-2"></i>
          </span>
        </div>
        <i style="font-size: 24px;" class="far fa-bookmark text-muted px-2"></i>
      </div>
      <p class="mb-0 ml-3" style="font-size: 16px;"><%= rand(1..10000) %> likes</p>
      <span class="w-90 d-inline-flex">
        <p class="mb-0 ml-3" style="font-size: 16px; font-weight: 600;"><%= user.username %></p>
        <p class="mb-0 ml-3" style="font-size: 16px; overflow-x: hidden;
                                    white-space: nowrap; text-overflow: ellipsis;"> <%= Faker::Quote.famous_last_words %></p>
      </span>
      <p class="text-muted mb-0 ml-3" style="font-size: 16px;">View all <%= rand(1..100) %> comments</p>
      <p class="mb-0 ml-3" style="font-weight: 600; font-size: 16px;"><%= @users.sample.username %> <%= emoji.sample %></p>
      <p class="text-muted mb-1 ml-3" style="font-size: 12px;"><%= distance_of_time_in_words_to_now(Time.now-rand(100000000)) %> ago</p>
    </div>
    <div class="d-flex w-100 border-top">
      <div class="row align-items-center flex-fill p-2">
        <div class="col-1 text-center">
          <i class="far fa-smile-beam"></i>
        </div>
        <div class="col-9 text-left">
          <p class="mb-0 text-muted">Add a comment...</p>
        </div>
        <div class="col-2 text-center">
          <button type="button" class="btn btn-link pr-2 disabled" style="font-size:12px;">Post</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
